
.boton1 img{
    width: 15px;
    height: 15px;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    color: rgb(164, 71, 250);
  }

.boton1{
 background-color: rgb(240, 240, 240);
 border: 5px;
 text-align: center;
 border-radius: 10px;
 padding: 10px 20px;
}
  .botones span{
    font-size: 15px;
    color: rgb(164, 71, 250);
  }
  .botones{
    margin-block-start: 35px;
  }

.boton2{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(240, 240, 240);
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px;
}
.texto1{
    margin: 0px;
    font-size: 50px;
    color:rgb(92, 91, 91);
}
.texto2{
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 34px;
    color: rgb(151, 150, 150);
}

.texto{
 align-items: center;
 position: absolute;
 margin-top: 170px;
 margin-left: 100px;
}

.seccion1{
background-image: url("../IMAGENES/hero-illustration.svg");
background-repeat: no-repeat;
background-position: right center;
background-size: contain;
margin-top: 50px;
margin-right: 90px;
min-height: 500px;
padding-bottom: 50px;
}

.Seccion2 {
  background-image: url("../IMAGENES/illustration.svg");
  background-size: 500px;
  background-color: #f4f4fe;
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 600px;
  margin-top: 50px;
  padding-bottom: 50px;
  max-height: max-content;

}

.textoseccion2{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 200px;
  top: 95%;
  padding-top: 50px;
}

.ima1, .ima2, .ima3{
  width: 80px;
  height: 100px;
  float: left;
  margin-left: -10px;
}

h3{
  margin-inline-start: 80px;
}
.sub1,.sub2,.sub3{
  color: grey;
  margin-inline-start: 80px;
}
