body{
    font-family: 'Inter', sans-serif;
}

.imagen-logo {
    height: 48px;
    width: 48px;
    border-radius: 20px;
    margin-top: 13px;
    margin-bottom: -20px;
    box-shadow: 0px 0px 12px -7px;
}

.texto {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    line-height: 45px;
    margin-left: -20%;
    color: rgb(68, 68, 68);
}

.texto-peq {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: rgb(68, 68, 68);
    margin-top: 25px;
}

.texto-peq:hover:not(.active) {
    color: rgb(118, 109, 244);
}

.flex-container {
    display: grid;
    grid-template-columns: 60px 100px 120px 100px 110px 90px 100px 120px 300px 150px;
    margin: -10px;
    box-shadow: 10px -20px 15px 10px;
  }
.flex-container > div {
    width: 150px;
    height: 75px;
    text-align: center;
}

.btn {
    margin-top: 20px;
    background-color: rgb(118, 109, 244);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 12px 20px;
    font-size: 15px;
  }
  .btn:hover {
    background-color:rgb(96, 88, 199);
  }

.Images{
    width: 350px;
    height: 290px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#Blanco{
    color: white;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    background-color: #766df4;
    border: none;
    border-radius: 10px;
    width: 135px;
}

.Contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.Titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: rgb(72, 75, 99);
}

.Subtitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: rgb(169, 171, 185);
    font-size: 16px;
}

.Nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 400px;
    color: rgb(72, 75, 99);
}

.Azulito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 50px;
    color: #766df4;
    border: 1px solid #766df4;
    border-radius: 10px;
}

.FilaTarjeta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    width: 1140px;
}

.Tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Imagen{
    display: flex;
    width: 350px;
    height: 290px;
}

.TituloTar{
    display: flex;
    flex-direction: row;
    height: 45px;
    color: rgb(72, 75, 99);
}

.SubtituloTar{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    color: rgb(169, 171, 185);
}

.Texto{
    display: flex;
    flex-direction: row;
    height: 50px;
}

.EspacioBoton{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 120px;
    justify-content: space-around;
}

.Boton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95px;
}

.Refresh{
    display: flex;
    flex-direction: column;
    justify-content: center;
}